@model IOrderedEnumerable<KeyValuePair<string, int>>

@{
    Layout = null;
}

@foreach (var tag in Model)
{
    <div class='weightedTag'><a href='/User/ListByCompetence/@tag.Key'><span class='label label-info'>@tag.Key</span></a> x @tag.Value</div>
}
