@model Yoyyin.Model.Tagging.WeightedTags

<div class="page-header">
<h1>Kompetenser. <small>Dom populäraste visas överst</small></h2>
</div>

<p>Klicka på en kompetens för att komma till medlemmar som har just den kompetensen.</p>
@Html.Raw(Model.ToMarkup())