@{
    ViewBag.Title = "List";
}

<h1>Affärsidéer</h1>

<table class="table table-bordered">
@foreach (var user in Model)
{
    <tr>
        <td>
            <a href="#" class="thumbnail">
                @Html.Raw(user.SmallProfileImageMarkup)
                <a>@user.DisplayName</a>
            </a>
        </td>
        <td>
            <h2>@user.FirstIdea.Title</h2>
            <p>@Html.Raw(user.FirstIdea.Description)</p>
        </td>
    </tr>
}
</table>




