@using Yoyyin.Mvc.Helpers
@model System.Collections.Generic.IEnumerable<Yoyyin.Mvc.Models.User>
@Html.PageHeader("Personer", "Kanske din nästa affärspartner?")
<div class="ui-helper-clearfix">
    @foreach (var user in Model)
    {
        <div class="ui-helper-clearfix">
            <div class="listedUserLeft">
                <a href="" class="thumbnail">
                    <img src="@user.ProfileImageSrc" />
                </a><a href=""><strong>@user.DisplayName</strong> </a>, @user.City
            </div>
            <div class="listedUserRight ">
                <div class="well">apa</div>
            </div>
        </div>
    }
</div>
