@model IEnumerable<Yoyyin.Mvc.Models.User>

@Html.Partial("Breadcrumb")
<h1>@ViewBag.Title</h1>

<table class="table table-bordered">
    @foreach (var user in Model)
    {
        @Html.Partial("~/Views/User/UserRow.cshtml", user)
    }
</table>




