@model IEnumerable<Yoyyin.Mvc.ViewModels.UserWithFirstIdea>

@Html.Partial("Breadcrumb")
<div class="page-header">
    <h1>@ViewBag.Title. <small>@ViewBag.SubTitle</small> </h1>    
</div>

<div class="ui-helper-clearfix">
    @foreach (var user in Model)
    {
        @Html.Partial("~/Views/Idea/UserRowWithSni.cshtml", user)
    }
</div>

