@model IEnumerable<Yoyyin.Mvc.Models.UserWithFirstIdea>

@Html.Partial("Breadcrumb")
<div class="page-header">
    <h1>@ViewBag.Title. <small>Här visas alla affärsidéer, sorterade på bransch</small></h1>
</div>


<table class="table table-bordered">
    @foreach (var user in Model)
    {
        @Html.Partial("~/Views/Idea/UserRow.cshtml", user)
    }
</table>




