<div class="row-fluid">
    <div class="span2">
        <img class="thumbnail" src="{{ProfileImageSrc}}" />
        <strong>{{DisplayName}}, {{City}}</strong> <span class="label label-success">{{UserType}}</span>
    </div>
    <div class="span10">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis, eros sit
        amet tincidunt fringilla, ligula ligula viverra dui, id luctus libero turpis at
        diam. Vestibulum laoreet vulputate quam, eget tristique enim egestas ac. Nunc neque
        orci, congue et tristique id, euismod quis turpis. Nam malesuada blandit mauris,
        nec pulvinar libero semper ac. Mauris ut nisi quis urna sollicitudin dapibus id
        a augue. Duis a justo quis tellus molestie lobortis quis eleifend mauris. Fusce
        faucibus ultrices leo eu suscipit. Maecenas mollis laoreet ultricies. Nulla elementum
        blandit adipiscing. Integer pulvinar elit et tortor consectetur pharetra.
        <div class="form-actions">
        <button id="sendMessage" class="btn btn-primary">
            <i class="icon-white icon-envelope"></i> Skicka meddelande</button>
        <button id="match" class="btn btn-info">
            <i class="icon-white icon-ok"></i> Matcha</button>
         <button id="addToFavorites" class="btn">
            <i class="icon icon-star"></i> Lägg till som favorit</button>           
        </div>
        <div class="well">
            {{{IdeasMarkup}}}
        </div>
    </div>
</div>
