@using Yoyyin.Mvc.Models
@model List<Yoyyin.Mvc.Models.SniItem>

<ul class="nav nav-pills nav-stacked">
@foreach (SniItem item in Model)
{
    <li><a href="@item.UrlToIdeas">@item.Title</a></li>
}
</ul>