<div class="page-header">
    <h1>
        Hej {{ user.Name }}. <small>Du loggade senast in {{user.LastLogin}}</small></h1>
</div>
<div class="row-fluid">
    <div class="span2">
        {{{ProfileMarkup}}}
    </div>
    <div class="span10">
        <h3>
            Sedan dess har:</h3>
        <ul>
            <li><span class="badge">100</span> nya medlemmar registrerats.</li>
            <li>Din profil har visats <span class="badge">100</span> gånger för medlemmar.</li>
            <li>Din publika profil har visats <span class="badge">100</span> gånger.</li>
        </ul>
    </div>
</div> 