<div class="row-fluid">
    <div class='span6'>
        <label class='control-label' for='name'>
            Namn:</label><input type='text' class='input-xlarge' id='name' value="{{Name}}" />
        <label class='control-label' for='alias'>
            Alias:</label><input type='text' class='input-xlarge' id='alias' value="{{Alias}}" />
        <label for="competences">
            Det kan finnas personer med en bra affärsidé som behöver just din kompetens. Lägg
            därför till alla taggar du kan komma på. För kortare meningar skriv bindestreck
            emellan.<br />
            <i>Ex. klippa-hår,redovisning,köra-truck</i>
        </label>
        <ul id='competences'>{{{competencesMarkup}}}
        </ul>
        <label for="userDescription">
            Presentera dig själv:</label>
        <textarea id="userDescription" class='input-xxlarge' rows="3">{{Presentation}}</textarea>
    </div>
    <div class="span6">
 
        <label class='radio'>
            <input name='optionsRadios' id='optionsRadios1' value='PartnerToMyIdea' type='radio' />Jag
            letar efter en partner til min idé</label>
        <label class='radio'>
            <input name='optionsRadios' id='Radio2' value='IdeasToJoin' type='radio' />Jag letar
            efter idéer att delta i</label>
        <label class='radio'>
            <input name='optionsRadios' id='Radio1' value='JoinOrBeJoined' type='radio' checked="checked" />Jag
            har en idé men är öppen för att delta i andras också</label>
        <label class='radio'>
            <input name='optionsRadios' id='Radio3' value='Investements' type='radio' />Jag
            har pengar att investera i bra affärsidéer</label>
    </div>
</div>
<div class='form-actions'>
    <a class='btn btn-primary'>Spara</a>
</div>
