<h3>
    Kompetenser du söker</h3>
<label>
    Här anger du kompetenser du söker hos en ev affärspartner. För kortare meningar skriv bindestreck emellan.<br />
    <i>Ex. telefonförsäljning,restaurang,bygga-hus</i></label>
    <ul id='competencesNeeded'>{{{competencesNeededMarkup}}}</ul>
<h3>
    Tagga din affärsidé</h3>
<label>
    För att andra lättare ska kunna hitta din affärsidé kan du lägga till egenskaper/taggar.<br />
    <i>Ex. pizzeria,städbolag,e-handel</i></label>
<ul id='tags'>{{{searchWordsMarkup}}}</ul>

<div class='form-actions'>
    <button class='btn btn-primary'>Spara</button>
</div><form>

