@if (Request.IsAuthenticated) 
{
    <li id="loggedIn"></li> @*<div class="thumbnail" style="background-color: #fff; width: 20px; float: left; padding-top: 9px;"><span class="icon icon-user"></span></div><a>Mikael</a></li>*@
    <li>@Html.ActionLink("Logga ut", "SignOut", "Auth")</li>
}
else
{
    <li><a href="/#/register/personalInfo">Bli medlem</a></li><li class="dropdown">@Html.ActionLink("Logga in", "SignIn", "Auth")</li>
}