@if (Request.IsAuthenticated) 
{
    <li><a>Hej, @User.Identity.Name!</a></li>
    <li>@Html.ActionLink("Logga ut", "SignOut", "Auth")</li>
}
else
{
    <li><a href="/#/register/personalInfo">Bli medlem</a></li><li>@Html.ActionLink("Logga in", "SignIn", "Auth")</li>
}