@if (Request.IsAuthenticated) {
    <p>
        Hello, @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Change password" })!
        @Html.ActionLink("Log off", "LogOff", "Account")
    </p>
} else {<li>@Html.ActionLink("Bli medlem", "Register", "Account")</li><li>@Html.ActionLink("Logga in", "Login", "Account")</li>

}