@model dynamic
<ul class="breadcrumb">
    <li><a href="/Home/Index">Hem</a> <span class="divider">/</span> </li>
    <li><a href="/User/list">Affärsidéer</a> <span class="divider">/</span> </li>
    <li class="active">Alla</li>
</ul>
