@model dynamic
<ul class="breadcrumb">
<li><a href="/Home/Index">@ViewBag.BreadCrumb.Items[0].Text</a> <span class="divider">/</span> </li>
    <li><a href="/User/list">Affärsidéer</a> <span class="divider">/</span> </li>
    <li class="active">Alla</li>
</ul>
