@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeaserLayout</title>
    <link rel="stylesheet/less" type="text/css" href="/Content/Less/site.less">
    <link rel="stylesheet/less" type="text/css" href="/Content/Less/bootstrap.less">

    <script src="/Scripts/lib/less-1.3.0.min.js" type="text/javascript"></script>
    <style>
        body {
            background-image: url("/Images/grid-18px-masked.png");
            background-repeat: repeat-x;
            }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
