<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ApplicationServices" connectionString="Server=10.46.10.75;Database=Yoyyin;user id=yoyyin;password=yoyyin" providerName="System.Data.SqlClient" />
        <add name="YoyyinEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.46.10.75;Initial Catalog=Yoyyin;User ID=yoyyin;Password=yoyyin;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>