#sectionMainContent {  }
.profileImage { width: 80px; }
.marginRight { margin-right: 10px;}
.mainNav { margin-bottom: 60px; }
.noFloat { float: none !important; }
.label a { color: #fff;}
a { cursor: pointer;}
#registerMap { height: 210px; } 
.form-actions a { margin-right: 15px;}
.weightedTag { width: 170px; padding: 3px; float: left; }