@using Yoyyin.Mvc.Helpers

@Html.PageHeader("404", "Sidan kunde inte hittas")

<div class="row-fluid">
    <div class="span6">
        <img src="/Images/error.png" />
    </div>
    <div class="span6">
        Folkuniversitetet: Felmeddelandet är tydligt, ingen risk att missa det. Konsekvent design som följer samma färgschema som resten av sajten. Tydlig sökruta. Relevanta länkar till startsidan och andra viktiga sidor. Förslag på relevanta sökningar eller sidor.
    </div>
</div>


