@{
    ViewBag.Title = "Om Yoyyin";
}

<div class="page-header">
    <h1>@ViewBag.Title. <small>Hur vi hjälper dig hitta din affärspartner</small></h1>
</div>

<article>
        <p>Folk med goda <strong>affärsidéer</strong> behöver ofta finna <strong>samarbetspartners</strong> som har en förmåga att förverkliga dem. På samma sätt behöver drivna <strong>företagare</strong> finna <strong>partners</strong> med starka och hållbara <strong>idéer</strong>.</p>
        <p>Yoyyin sammanför folk som vill finna <strong>partners</strong> för att starta upp eller utveckla sin <strong>företagsidé</strong> eller sitt <strong>företag</strong>. Det gör vi med vår unika sökfunkton och vårt matchningssystem. Tack vare dessa kan du enkelt komma i kontakt med personer som besitter de kompetenser och egenskaper som du eftersöker för att utveckla din verksamhet.</p>
        <p>Det kan handla om allt från att du är en kock som söker en krögare till din restaurangidé till att du är en affärsutvecklare som behöver teknikkompetenser till din Internetstart-up. Det spelar ingen roll om du vill starta upp en pizzeria, frisörsalong, bioteknikbolag eller telekombolag - Yoyyin är till för alla som brinner för att förverkliga sina <strong>idéer</strong>.</p>
        <p>För att du ska kunna använda Yoyyin så måste du registrera dig. När du har registrerat dig kan du både söka efter och bli funnen av andra potentiella samarbetspartners.</p>
        <p>Välkommen till Yoyyin</p>        
        <p>
            <a href="Register.aspx" id="MainContent_lnkRegister" rel="nofollow" title="Bli medlem och sökbar för andra affärspartners">Klicka här för att bli medlem</a>              
        </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Fusce facilisis ullamcorper consequat. Vestibulum non sapien lectus. Nam 
        mi augue, posuere at tempus vel, dignissim vitae nulla.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>