@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>
                    Välkommen till Yoyyin! Vi sammanför människor med idéer</h1>
            </hgroup>
            <p>
                Yoyyin sammanför folk som vill finna partners för att starta upp eller utveckla
                sin företagsidé eller sitt företag. Det spelar ingen roll om du vill öppna en frisörsalong,
                restaurang eller starta ett medicinteknikbolag - Yoyyin är till för alla som vill
                förverkliga sina idéer och drömmar.</p>
        </div>
    </section>
}
<div class="row-fluid">
    <div class="span6">
        <h3>
            Söker du en partner till din affärsidé?
        </h3>
        Tid, kunskap och energi är hinder som ofta gör det svårt att starta upp eller utveckla
        ett företag.
        <ul>
            <li><a class="registerLink">Registrera dig och få tillgång till matchning mm</a></li>
        </ul>
        <h3>
            Är du finansiär som söker intressanta projekt?</h3>
        <ul>
            <li>@Html.ActionLink("Visa alla affärsidéer som söker finansiering", "List", "User")</li>
            <li><a class="registerLink">Registrera dig som finansiär och få tillgång till matchning
                mm</a></li>
        </ul>
        <h3>
            Är du entreprenör och vill förverkliga andras idéer?</h3>
        <ul>
            <li>@Html.ActionLink("Visa alla affärsidéer", "List", "User")</li>
            <li><a class="registerLink">Registrera dig som entreprenör och få tillgång till matchning
                mm</a></li>
        </ul>
    </div>
    <div class="span6">
        <div id="carousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <img src="../../Images/handshake.png" />
                    <div class="carousel-caption">
                        <p>Har du en bra affärsidé men behöver stöd eller en viss kompetens för att förverkliga den?</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../../Images/constructionteam.png" />
                    <div class="carousel-caption">
                        <p>Söker du ett bollplank för din affärsidé</p>
                        <p>Eller finansiering?</p>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>
<section class="features">
    <section class="feature">
        <img src="~/Images/featuresForum.png" alt="Diskutera" class="thumbnail" />
        <h3>
            Diskutera</h3>
        <p>
            Här kan du få svar på frågor eller diskutera affärsidéer med andra medlemmar.
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/featuresLinks.png" alt="Länkar" class="thumbnail" />
        <h3>
            Länkar</h3>
        <p>
            Nedan har vi samlat länkar till andra webplatser, bloggar mm som vi tycker är bra
            och relevanta för entreprenörer. Det är en blandning melan privata och statliga
            webbplatser.
        </p>
    </section>
    <section class="feature">
        <a href="/Home/About">
            <img src="~/Images/featuresForum.png" alt="Dokumentarkiv" class="thumbnail" />
        </a>
            <h3>
                Dokument</h3>
            <p>
                När du skall starta och driva företag finns det en mängd saker att tänka på. Här
                finner du därför tips, mallar och checklistor som underlättar ditt företagande.
            </p>
        
    </section>
</section>
