<div class="row-fluid">
    <div class="span6">
        <label for="title">
            Rubrik för din verksamhet/affärsidé:</label><input type="text" id="title" class="input-xlarge" />
        <label for="description">Om verksamheten/affärsidén:</label>
        <textarea class="input-xlarge" id="description" />
        <label for="companyName">Ev fretagsnamn:</label>
        <input type="text" id="companyName" class="input-xlarge" />
    </div>
    <div id="sniDropDowns" class="span6">
    </div>
</div>
