<div class="span6">
    <div class="control-group">
        <label class="control-label" for="name">
            Namn:</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="name" /></div>
    </div>
    <div class="control-group">
        <label class="control-label" for="alias">
            Alias:</label><div class="controls">
                <input type="text" class="input-xlarge" id="alias" />
            </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="url">
            Hemsida/Blogg:</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="url" /></div>
    </div>
</div>

<div class="span6">
    <legend>Dina kompetenser/intressen</legend>
    <label for="competences">
        Det kan finnas personer med en bra affärsidé som behöver just din kompetens. Lägg
        därför till alla taggar du kan komma på. För kortare meningar skriv bindestreck
        emellan.<br />
        <i>Ex. klippa-hår,redovisning,köra-truck</i>
    </label>
    <ul id="competences">
    </ul>
    <label for="userDescription">
        Presentera dig själv:</label>
    <textarea id="userDescription" style="width: 98%" class="input-xlarge" rows="3"></textarea>
</div>
