<div class="row-fluid">
    <div class="span6">
        <label>
            Välj en bild till din profil:
            <input type='file' /></label><label>Välj en CV/meritförteckning:
                <input type='file' /></label>
    </div>
    <div class="span6">
        <h3>...eller välj en av följande avatarer</h3>
        <div>
            <div class="btn-group" data-toggle="buttons-radio">
                  <input type="radio" id="user" value="glyphicons_003_user@2x.png.png" name="avatar" />
                  <label class="btn" for="user"><img src="/Images/glyphicons_003_user@2x.png" /></label>
                  
                  <input type="radio" id="girl" value="glyphicons_004_girl@2x.png.png" name="avatar" />
                  <label class="btn" for="girl"><img src="/Images/glyphicons_004_girl@2x.png" /></label>

                  <input type="radio" id="woman" value="glyphicons_035_woman@2x.png.png" name="avatar" />
                  <label class="btn" for="woman"><img src="/Images/glyphicons_035_woman@2x.png" /></label>                  
                  
                  <input type="radio" for="man" value="glyphicons_034_old_man@2x.png.png" name="avatar" />
                  <label class="btn" for="man"><img src="/Images/glyphicons_034_old_man@2x.png" /></label>
            </div>
        </div>
    </div>
</div>
