<div class="row-fluid">
    <div class="span6">
        <label>
            Välj en bild till din profil:
            <input type='file' /></label><label>Välj en CV/meritförteckning:
                <input type='file' /></label>
    </div>
    <div class="span6">
        <h3>...eller välj en av följande avatarer</h3>
        <div>
            <div class="btn-group" data-toggle="buttons-radio">
              <button type="button" class="btn"><img src="/Images/glyphicons_003_user.png" /></button>
              <button type="button" class="btn"><img src="/Images/glyphicons_004_girl.png" /></button>
              <button type="button" class="btn"><img src="/Images/glyphicons_034_old_man.png" /></button>
              <button type="button" class="btn"><img src="/Images/glyphicons_035_woman.png" /></button>
            </div>
        </div>
    </div>
</div>
