<div class="span6">
    <div class="control-group">
        <div class="controls">
            <div id="radios">
            </div>
        </div>
    </div>
</div>
<div class="span6">
    <legend>Ingen roll som passar?</legend>
    <p>
        Hitta på en egen roll</p>
    <div class="control-group">
        <label class="control-label">
            Titel:</label><div class="controls">
                <input type="text" id="title" /></div>
    </div>

<div class="control-group">
    <label class="control-label">
        Beskrivning</label><div class="controls">
            <input type="text" id="description" /></div>
</div>

<button id='btnSaveUserType' class='btn btn-primary' data-loading-text='Sparar...'>
    Lägg till</button>
</div>