<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Först behöver vi lite personuppgifter.</h1>
        </hgroup>
    </div>
</section>
<div class="main-content">
    <label class="control-label" for="name">
        Namn:</label>
    <input type="text" class="input-xlarge" id="name" />
    <p class="help-block">
        Supporting help text</p>
    <label class="control-label" for="alias">
        Alias:</label>
    <input type="text" class="input-xlarge" id="alias" />
    <p class="help-block">
        Supporting help text</p>
    <label class="control-label" for="street">
        Gatuadress:</label>
    <input type="text" class="input-xlarge" id="street" />
    <label class="control-label" for="zipCode">
        Postnummer:</label>
    <input type="text" class="input-xlarge" id="zipCode" />
    <label class="control-label" for="city">
        Stad/ort:</label>
    <input type="text" class="input-xlarge" id="city" />
</div>