@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~\\Views\\Shared\\TeaserLayout.cshtml";
}

<div class="container">
    <div class="hero-unit">
        <h1>Yoyyin <small>Dejting för företagare</small></h1>
    <br/>
    <ul>
        <li>Det kommer. Äntligen!</li>
        <li>Och det kommer snart</li>
        <li>Och det kommer att bli grymt</li>
    </ul>    

    </div>
</div>

