@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~\\Views\\Shared\\TeaserLayout.cshtml";
}

<div class="container">
    <div class="hero-unit">
        <div class="page-header">
            <h1>Yoyyin <small>Dejting för företagare</small></h1>
        </div>
        <ul>
            <li>Det kommer. Äntligen!</li>
            <li>Och det kommer snart</li>
            <li>Och det kommer att bli grymt</li>
        </ul>  
        <h3>Vill du bli meddelad när vi startar?</h3>
        <form>
            <label>E-post: <input type="email" /></label>
            <button class="btn btn-primary">Meddela mig</button>
        </form>  
    </div>
</div>

