<div class='ui-helper-clearfix'>
    <div class='stepLeft'>
        <label for='title'>
            Rubrik för din verksamhet/affärsidé:</label><input type='text' id='title' class='input-xlarge' /><label
                for='description'>Om verksamheten/affärsidén eller om dig själv:</label><textarea
                    class='input-xlarge' id='description' /></div>
    <div class='stepRight'>
        <label>
            Bransch/affärsområde:</label>
            <select id="heads" class='input-xlarge'><option>Välj först här</option></select>
            <select id="items" class='input-xlarge  hide'></select></div>
</div>
