<div class="ui-helper-clearfix">
    <div class='stepLeft'>
        <label class='control-label' for='name'>
            Namn:</label><input type='text' class='input-xlarge' id='name' /><p class='help-block'>Vill du vara privat? Ange valfritt alias nedan</p>
        <label class='control-label' for='alias'>
            Alias:</label><input type='text' class='input-xlarge' id='alias' /><p class='help-block'>Visas på sajten istället för namn</p>
    </div>
    <div class="stepRight">
        <label for="url">Hemsida/Blogg:</label>
        <input type="text" class='input-xlarge' id="url" />
        <label for="userDescription">Presentera dig själv:</label>
        <textarea id="userDescription" class='input-xlarge'></textarea>
    </div>
</div>
