<h3>
    Dina kompetenser</h3>
<label>
    För att andra lättare ska kunna hitta din profil kan du lägga till kompetenser du
    har. För kortare meningar skriv bindestreck.<br />
    <i>Ex. programmering,marknadsföring,köra-truck</i>
    <ul id='competences'></ul>
</label>
<h3>
    Kompetenser du söker</h3>
<label>
    Här anger du kompetenser du söker hos en ev affärspartner.<br />
    <i>Ex. telefonförsäljning,restaurang</i></label><ul id='competencesNeeded'>
    </ul>
<h3>
    Tagga din affärsidé</h3>
<label>
    För att andra lättare ska kunna hitta din affärsidé kan du lägga till egenskaper/taggar.<br />
    <i>Ex. pizzeria,städbolag,e-handel</i></label>
    <ul id='tags'></ul>
