<div class="ui-helper-clearfix">
    <div class="stepLeft">
        <label class='radio'><input name='optionsRadios' id='optionsRadios1' value='' type='radio' />Jag letar efter en partner til min idé</label>
        <label class='radio'><input name='optionsRadios' id='Radio2' value='' type='radio' />Jag letar efter idéer att delta i</label>
        <label class='radio'><input name='optionsRadios' id='Radio1' value='' type='radio' checked="checked" />Jag har en idé men är öppen för att delta i andras också</label>
    </div>
    <div class="stepRight">
        <label class="checkbox">Söker du finansiering?<input type="checkbox" id="wantsFinancing" /></label>
        <div id="financing" class="hide">
            <label>Ungefär hur mycket?<select class='input-xlarge'><option>0-10 000 kr</option><option>10 000-100 000 kr</option></select></label>
            <label>Till vad?<textarea class='input-xlarge'></textarea></label>
        </div>       
    </div>
 </div>